$tier_colors: (
  'high': rgb(255, 127, 127),
  'prehigh': rgb(255, 255, 127),
  'normal': rgb(127, 255, 127),
  'prenormal': rgb(127, 255, 255),
  'low': rgb(191, 127, 191),
);

.container {
  width: 90%;
  height: 90%;
  overflow: hidden;

  //   Glass effect
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);

  display: grid;
  grid-template-rows: 10% 30% 25% 20% 15%;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;

    &:not(:first-child) {
      border-top: 1px solid black;
    }

    .tier {
      height: 100%;
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @each $name, $color in $tier_colors {
      .#{$name} {
        background-color: $color;
      }
    }
  }
}
